<app-navbar></app-navbar>
<main class="activity-container">
  <section class="activity-content">
    <div class="activity-column">
      <header class="activity-header">
        <label for="time-period">Sélectionner une période :</label>
        <select id="time-period" [(ngModel)]="selectedPeriod">
          <option value="jour">Jour</option>
          <option value="semaine">Semaine</option>
          <option value="mois">Mois</option>
        </select>

        <div class="activity-card">
          <label for="age">Age:</label>
          <input type="number" name="age" id="age" [(ngModel)]="age" />

          <div class="activity-info">
            <label for="activity">Activity:</label>
            <input
              type="text"
              name="activity"
              id="activity"
              [(ngModel)]="selectedActivity"
              placeholder="Entrez l'activité"
            />
          </div>

          <label for="time">Donner l'heure:</label>
          <input
            type="number"
            name="time"
            id="time"
            [(ngModel)]="time"
            (input)="checkGoal()"
          />
        </div>

        <!-- Indicateur d'objectif atteint ou non -->
        <div
          class="goal-achievement"
          [style.backgroundColor]="goalReached ? 'blue' : 'red'"
          [style.color]="'white'"
        >
          <p>
            {{ goalReached
              ? 'Vous avez atteint l\'objectif !'
              : 'Vous n\'avez pas atteint l\'objectif !' }}
          </p>
        </div>

        <button (click)="submitActivity()">Enregistrer</button>
      </header>
    </div>

  
    <div class="history-column">
      <section class="history-section">
        <h2 class="history-title">Historique</h2>
        <article class="history-entry">
          {{ selectedActivity }} {{ time }} heures
          <br />
          <time class="history-date">{{ currentDate | date: 'yyyy-MM-dd HH:mm' }}</time>
        </article>
      </section>
    </div>
  </section>
</main>
