<main class="activity-container">
    <section class="activity-content">
      <div class="activity-column">
        <header class="activity-header">
          <h2 class="activity-title">&lt; Per day &gt;</h2>
          <div class="activity-card">
            age:
            <input type="number" name="age" id="age">
            <div class="activity-info">
              <p class="activity-type">activity:</p><select name="activity" id="activity"></select>
              <span class="activity-divider"></span>
            </div>
            <p class="activity-duration">Donnner l'heure: <input type="number" name="time" id="time"></p>
          </div>
          <div class="goal-achievement">
            <p>you reached the goal today</p>
          </div>
        </header>
      </div>
      <div class="history-column">
        <section class="history-section">
          <h2 class="history-title">historique</h2>
          <article class="history-entry">
            musculation 2 heures
            <br />
            <time class="history-date">2024-10-20 14:00</time>
          </article>
        </section>
      </div>
    </section>
  </main>
  