<app-navbar></app-navbar>
<main class="activity-container">
    <section class="activity-content">
      <div class="activity-column">
        <header class="activity-header">
          <h2 class="activity-title">&lt; Per day &gt;</h2>
          <div class="activity-card">
            <label for="age">Age:</label>
            <input type="number" name="age" id="age" [(ngModel)]="age">
  
            <div class="activity-info">
              <label for="activity">Activity:</label>
              <input type="text" name="activity" id="activity" [(ngModel)]="selectedActivity" placeholder="Entrez l'activité">
              <span class="activity-divider"></span>
            </div>
  
            <label for="time">Donnner l'heure:</label>
            <input type="number" name="time" id="time" [(ngModel)]="time">
          </div>
  
          <div class="goal-achievement" *ngIf="goalReached">
            <p>Vous avez atteint l'objectif aujourd'hui !</p>
          </div>
  
          <button (click)="submitActivity()">Enregistrer</button>
        </header>
      </div>
  
      <div class="history-column">
        <section class="history-section">
          <h2 class="history-title">Historique</h2>
          <article class="history-entry">
            {{ selectedActivity }} {{ time }} heures
            <br />
            <time class="history-date">{{ currentDate | date: 'yyyy-MM-dd HH:mm' }}</time>
          </article>
        </section>
      </div>
    </section>
  </main>
  