    <div class="b">
            <h1 class="a">Development</h1>
            <h1 class="c">in Healthcare</h1>
            <div class="d">
            <p class="e">"Welcome to our app, a comprehensive web app designed to help you take control of your health and well-being. 
                Track your progress, access personalized health insights, 
                and achieve your wellness goals with ease."</p>    
            </div>
            <button class="f" [routerLink]="['/login']" routerLinkActive="active">Sign In</button>
            <button class="ff" [routerLink]="['/register']" routerLinkActive="active">Sign Up</button>
            
    </div>
    <img class="g" src="../../assets/ty.png" alt="Card image cap">
